.FormatsHeader {
    text-align: center;
    font-weight: bold;
}

.FormatsDone {
    height: 10px;
    background-color: #A8FF8544;
    border: 1px solid #000;
    text-align: center;
}

.FormatsInProgress {
    height: 10px;
    background-color: #FFFF8444;
    border: 1px solid #000;
    text-align: center;
}

.FormatsTodo {
    height: 10px;
    background-color: #FF9C8344;
    border: 1px solid #000;
    text-align: center;
}
