{{/*
SPDX-FileCopyrightText: Pablo Marcos <kde@pablomarcos.me>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
{{ define "main" }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
<main class="container" role="main">
    <div id="search-results">
     <h1>{{ i18n "Search.Results" }}</h1>
    </div>
  </div>

<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h2><a href="${link}">${title}</a></h2>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
</main>
{{ end }}
