<header id="KGlobalHeader" class="header clearfix">
  <link rel="icon" href="/images/okular.png">
  <nav class="navbar navbar-expand-lg">
    <a class="app-logo navbar-brand active" href="/">
      <img src="/images/okular.png" alt="Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      {{- partial "navbar_nav.html" . -}}
    </div>
  </nav>
</header>
